# Composer files
composer.phar
zf3/vendor/

# Local configs
zf3/config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
zf3/data/logs/
zf3/data/cache/
zf3/data/sessions/
zf3/data/tmp/
zf3/temp/

#Doctrine 2
zf3/data/DoctrineORMModule/Proxy/
zf3/data/DoctrineORMModule/cache/

# Legacy ZF1
zf3/demos/
zf3/extras/documentation


#vue
vue/real-world-vue/node_modules
vue/real-world-vue/dist